:root {
  /* Theme */
  --dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --faded-white: hsla(0, 0%, 100%, 0.75);
  --faded-white-lighter: hsla(0, 0%, 100%, 0.6);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-blue);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.card {
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  margin: 50px auto;
  width: 85%;
  text-align: center;
}

.card__header {
  background-image: url("../images/image-header-mobile.jpg");
  background-color: var(--violet);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 23rem;
  background-blend-mode: multiply;
}

.card__heading {
  color: var(--white);
  font-size: 2.6rem;
  margin-bottom: 2.5rem;
}

.card__heading--purple {
  color: var(--violet);
}

.card__body {
  padding: 3rem;
}

.card__text {
  color: var(--faded-white);
  line-height: 1.7;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stat__stat-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.stat__stat {
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.stat__stat-heading {
  color: var(--faded-white-lighter);
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer {
  background-color: #000;
  text-align: center;
  color: var(--faded-white);
  padding: 2rem;
}

.footer a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    max-width: 1200px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .card__header,
  .card__body {
    flex: 1;
    flex-basis: 50%;
  }

  .card__body {
    padding: 8rem 10rem 8rem 8rem;
  }

  .card__header {
    border-radius: 0 10px 10px 0;
    height: auto;
  }

  .card__heading {
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }

  .card__text {
    width: 85%;
  }

  .stats {
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}
